/* RESET */

body,
p,
h1,
h2,
h3,
ul {
    padding: 0px;
    margin: 0px;
}

body {
    font-family: Georgia, serif;
    color: black;
}

/* MENU */

.menu {
    background: #FEC63E;
    padding: 20px 0;
}

.menu-container {
    max-width: 960px;
    margin: 0 auto;
}

.menu-container {
    max-width: 960px;
    margin: 0 auto;
}

.menu-container::after,
.menu-container::before {
    content: '';
    display: table;
    clear: both;
}

.menu-logo {
    display: block;
    float: left;
}

.menu-nav {
    float: right;
}

.menu-nav li {
    display: inline-block;
}

.menu-nav a {
    display: block;
    text-decoration: none;
    color: #000;
    font-size: 1.125em;
    padding: 10px;

}

/* intro */

.intro {
    background: url('/img/intro.jpg') no-repeat center center;
    background-size: cover;
    padding-top: 350px;
    padding-bottom: 100px;
    text-align: center;
    color: #fff;
}

.intro h1 {
    text-transform: uppercase;
    font-size: 3em;
}